/*
	========================================
	CSS Reset
	========================================
*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	========================================
	Misc
	========================================
*/

.gen-flex {
display:flex;
}

/*
	========================================
	Navigation Bar
	========================================
*/
nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1px 1% 1px 1%;
  border: solid 1px #E2E2E2;
  font-size:14.25px;
  font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 98%;
		top: 0;
}

.left-nav {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
button {
  background-color: #326891;
  border: 0 solid #E2E2E2;
  color: white;
  font-weight: 700;
  border-radius: 3px;
  padding: 9px;
}

.space-cosmos{
  color: #000;
  text-decoration-line: none;
  font-weight: 900;
}
.space-cosmos :hover{
  text-decoration-line: underline;
}


/*
	========================================
	Header
	========================================
*/

h1 {
	margin-top: 6%
}

header > *{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.img-header {
	width:70%;
	color: #666;
	font-size:15px;
	margin-bottom: 4px;
	/* align-self: center; */
}

.image-credit {
	color:#888;
	font-size: 80%;
}

figcaption {
	width: 60%;
	margin:0 32% 0 22%;
}

.byline {
	flex-direction: column;
	width: 43%;
	margin: 3% 28.5%;

}
.author {
	font-weight: bold;
	margin-bottom: 1%;

}

.share-line{
	align-items: baseline;
	justify-content: space-between;
}




/*
	========================================
	Main
	========================================
*/

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.flex > p {
	width: 43%;
	margin-bottom: 1%;
	align-self: center;
}

article{
	font-size: 20px;
	line-height: 30px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 500;
	color: #333333;
}


.article-pict{
	width: 51%;
}

iframe{
	width: 600px;
	height: 320px;

}
.second-article  figcaption{
	width: 84%;
	margin: 2% 15% 4% 0%;
	font-size: 15px;
	line-height: 20px;
	text-align: left;
}

.subscribe-prompt{
	text-align: center;
	font-weight: 600;
	line-height: 1.2rem;
	font-size:0.9rem;
}
.subscribe-prompt a:link{
	text-decoration: none;
}


.third-article figcaption{
	width: 51%;
	margin: 1% 0 0 0;
	font-size: 15px;
	line-height: 20px;
	text-align: left;

}

/*
	========================================
	Aside-Editors's Picks
	========================================
*/
/* aside{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	float: right;
	background-color: aqua;
	position: absolute;
	clear: both;
	
}

.aside-pictures  img{ 
	width: 10%;
} */

.grid-container{
	display: grid;
	grid-template-columns: 40% 60%;
	width: 210px;
	grid-gap: 5%;
	place-items: center;
	
	
	
}
.aside-img img{
	width: 100%;
	
}

.aside-text a{
	color: #000;
	text-decoration-line: none;
	font-size: 0.95rem;
	font-weight: 500;
	
}


/* change laterrrrrrrrrrrr*/
aside{
	float: right;
	
	clear: both;
	position: absolute;
	right:5%;
	top: 225%;
	z-index: -1;
	
}
aside > p{
	margin-bottom: 15px;
	font-weight: 600;
}
.second-article{
	clear: both;
}
