/*
	========================================
	CSS Reset
	========================================
*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	========================================
	Misc
	========================================
*/


/*
	========================================
	Navigation Bar
	========================================
*/
nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1px 1% 1px 1%;
  border: solid 1px #E2E2E2;
  font-size:14.25px;
  font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 98%;
		top: 0;
}

.left-nav {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
button {
  background-color: #326891;
  border: 0 solid #E2E2E2;
  color: white;
  font-weight: 700;
  border-radius: 3px;
  padding: 9px;
}

.space-cosmos{
  color: #000;
  text-decoration-line: none;
  font-weight: 900;
}
.space-cosmos :hover{
  text-decoration-line: underline;
}


/*
	========================================
	Header
	========================================
*/

h1 {
	margin-top: 6%
}

header > *{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.img-header {
	width:70%;
	color: #666;
	font-size:15px;
	margin-bottom: 4px;
	/* align-self: center; */
}

.small-text {
	color:#888;
	font-size: 80%;
}

figcaption {
	width: 60%;
	margin:0 32% 0 22%;
}

.byline {
	flex-direction: column;
	margin: 1% 30%;

}

.date-share {
	justify-content: space-between;
	align-items: baseline;
}


.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.flex > p {
	width: 50%;
}


