/*
	========================================
	CSS Reset
	========================================
*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*
	========================================
	Main-side
	========================================
*/

main{
	max-width: 1170px;
	margin: 0 auto;
}
/*
	========================================
	Misc
	========================================
*/

.gen-flex {
display:flex;
}

/*
	========================================
	Navigation Bar
	========================================
*/


.nav-bar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1px 1% 1px 1%;
  border: solid 1px #E2E2E2;
  font-size:14.25px;
  font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 98%;
		top: 0;
}

.left-nav {
  /* width: 14%; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

}
button {
  background-color: #326891;
  border: 0 solid #E2E2E2;
  color: white;
  font-weight: 700;
  border-radius: 3px;
  padding: 9px;
}

.space-cosmos{
  color: #000;
  text-decoration-line: none;
  font-weight: 900;
}
.space-cosmos :hover{
  text-decoration-line: underline;
}


/*
	========================================
	Header
	========================================
*/

h1 {
	margin-top: 6%
}

 .top-section > *{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.img-header {
	width:70%;

	color: #666;
	font-size:15px;
	margin-bottom: 4px;
	/* align-self: center; */
}

.image-credit {
	color:#888;
	font-size: 80%;
}

figcaption {
	width: 60%;
	margin:0 32% 0 22%;
}

.byline {
	flex-direction: column;
	width: 43%;
	margin: 3% 28.5%;

}
.author {
	font-weight: bold;
	margin-bottom: 1%;

}

.share-line{
	align-items: baseline;
	justify-content: space-between;
}




/*
	========================================
	Main
	========================================
*/

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.flex > p {
	width: 43%;
	margin-bottom: 1%;
	align-self: center;
}

article{
	font-size: 20px;
	line-height: 30px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 500;
	color: #333333;
}


.article-pict{
	width: 51%;
}
.article-fig
{
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	width: 51%;
	margin: 0.8%;

}

iframe{
	width: 600px;
	height: 320px;

}

.subscribe-prompt{
	text-align: center;
	font-weight: 600;
	line-height: 1.2rem;
	font-size:0.9rem;
}
.subscribe-prompt a:link{
	text-decoration: none;
}


.third-article figcaption{
	width: 51%;
	margin: 1% 0 0 0;
	font-size: 15px;
	line-height: 20px;
	text-align: left;

}

/*
	========================================
	Aside-Editors's Picks
	========================================
*/

.grid-container{
	display: grid;
	grid-template-columns: 40% 60%;
	width: 210px;
	grid-gap: 5%;
	place-items: center;



}
.aside-img img{
	width: 100%;

}

.aside-text a{
	color: #000;
	text-decoration-line: none;
	font-size: 0.95rem;
	font-weight: 500;

}


/* change laterrrrrrrrrrrr*/
aside{
	float: right;

	clear: both;
	position: absolute;
	right:5%;
	top: 225%;
	z-index: -1;

}
aside > p{
	margin-bottom: 15px;
	font-weight: 600;
}
.second-article{
	clear: both;
}

/*
	========================================
	Inflation Grid
	========================================
*/

.inflation {
	margin: 3% 25%;

}
.inflation h3 {
	font-size:1.25rem;
	margin:0;
}

.subtitle-text {

	font-size: 0.9rem;
	color: #666666;
}

.inflation-grid {
	display:grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap:1%;

}

.inf-element {
	display:grid;
	grid-template-rows: 50% 50%;
	grid-row-gap: 2%;
}
.inflation-text {
	font-size: 0.875rem;

}

.inflation-img img{
	max-height: 100%;
}

.inf-title{
	font-weight: bold;
	letter-spacing: .05em;
}

/*
	========================================
	Article end text
	========================================
*/

.read-comment{
	justify-content: space-between;
	width: 98%;

}
.read-comment-btn{
	justify-content: space-between;
	padding: 0px 60px 0px 60px;
}
.article-end{
	width: 43%;
	margin-bottom: 6%;
}
.article-end-text{
	font-size: 12px;
	line-height: 20px;
	margin: 10px 0 20px 0;
	color: #888;

}
.article-end-text a{
	color: #888
}
.article-end a:hover{
	text-decoration: none;
}

/*
	========================================
	More Articles
	========================================
*/
.more-articles
{
	max-width: 1300px;
	width: 98%;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap:1%;
	margin: 0 auto;
}

h2 {
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	margin: 15px 0;
}
.space, .popular {
	margin: 0 0 0 6%;
	border-top: 1px solid #000000;
	border-width: 100%;
	padding: 0;
}

.img-head {
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap:5% 2%;
}


.img-head figure img {
	width: 100%;
	padding: 0 auto;
}

.img-head figure figcaption {
	width:100%;
	margin:0;
	text-align: right;
}

.img-title {
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	margin-top: 3%;
	margin-bottom:1%;
}

.img-date {
	font-size:12px;
	line-height: 20px;
	color:#999999;
	font-weight: 500;
}

.popular li {
	font-size: 19px;
	line-height: 23px;
	font-weight: 500;
 	border-top: 1px solid #E2E2E2;
  padding: 2% 0% 4% 0%
}

.img-head, .popular li {
     cursor:pointer;
}
.img-title:hover,.popular li:hover {
		color: rgb(99, 97, 98);
}
.img-date:hover{
	cursor: default;
}
/*
	========================================
	Footer Menu
	========================================
*/

.footer-menu{
	max-width: 1300px;
	margin: 12px auto 0 auto;
	width: 98%;
	border-top:1px solid #9a9a9a;
	padding-top: 10px;

}
.footer-line{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-times-icon{
	width: 67%;
}
.footer-links{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	line-height: 25px;
}

.footer-links div a{
	text-decoration-line: none;
	color:#333333;
}
.footer-links div a:hover{
	text-decoration-line: underline;
}

.footer-menu a {
	text-decoration-line: none;
	color: #326891;
}
.footer-icon li a{
	font-weight: 700;
	font-size: 17px;
}

.language{
	font-size: 13px;
	margin-top: 20px;
}

.footer-vertical-line{
	border-left: 1px solid #9a9a99;
	padding-left: 12px;
}

/*
	========================================
	Bottom Footer
	========================================
*/

.bottom-footer{
	width: 80%;
	margin: 0 auto 5.5% auto;
	justify-content: space-around;
	font-size: 12.5px;
	line-height: 11px;
	font-weight: 400;

}

.bottom-footer a{
	color:gray;
	text-decoration: none;
}

.bottom-footer a:hover{
	color:gray;
	text-decoration: underline;
}

.foot-navbar
{
	cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 14px 1%;
  border-top: 1px solid black;
  font-size:14.25px;
  font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
		bottom: 0;

}

.right-bottom-nav {
	align-items: center;
}
